body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(css/fondo.jpg);
}


/* Centrar el div .interfas */
.interfas {
    width: 80%; 
    max-width: 1000px; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
}


.titulo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Contenido alineado a la izquierda */
.contenido {
    text-align: left;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}

/* Estilo para el div .botonInicio */
.botonInicio {
    position: fixed;  
    bottom: 20px;
    right: 20px;   
}

/* Estilo para los botones dentro de .botonInicio */
.botonInicio button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.botonInicio button:hover {
    background-color: #0056b3;
}


.boton button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.3s;
}

.boton button:hover {
    background-color: #218838;
}

/* Botones generales */
button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}